:root {
  /* --swiper-pagination-color: var(--swiper-theme-color);
  --swiper-pagination-bullet-size: 8px;
  --swiper-pagination-bullet-width: 8px;
  --swiper-pagination-bullet-height: 8px; */
  --swiper-pagination-bullet-active: red;
  /* --swiper-pagination-bullet-inactive-opacity: 0.2;
  --swiper-pagination-bullet-opacity: 1;
  --swiper-pagination-bullet-horizontal-gap: 4px;
  --swiper-pagination-bullet-vertical-gap: 6px; */
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.flexItem {
  display: flex;
}
.space-between{
  justify-content: space-between;
  align-items: center;
}
.inputtext {
  font-size: 14px;
}

/* swiper */
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.swiper-pagination-bullet-active {
  background: orangered !important;
}
.veg {
  background: linear-gradient(180deg, #d1d500, #090900);
  width:300px;
  min-width: 250px;
  color: white;
  padding: 8px 16px;
  display: grid;
  justify-content: center;
  border-radius: 20px;
}
.veglabel {
  background: green;
  color: white;
  padding: 5px 8px;
  border-radius: 20px;
}
.addCart{
  padding: 15px;
  outline: none;
  border: none;
  background:#C7E755;
  border-radius: 12px;
}